@use './partials/mixins' as *;
@use './partials/variables' as *;

*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.ivy_container{
    margin: 0 auto;
    max-width: 1200px;
}